before_install:
  - sudo apt-get update
  - sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++

language: node_js

node_js:
  - "iojs"
  - "0.12"
  - "0.10"
